extends ../layout

block content
  .mt-4
    div
      a(href="/me/stored/courses") Danh sách khóa học
      h3 Khóa học đã xóa

    table.table.mt-4
      thead
        tr
          th(scope="col") #
          th(scope="col") Tên khóa học
          th(scope="col") Trình độ
          th(scope="col" colspan="2") Thời gian xóa
      tbody
        each course, index in courses
          tr
            th(scope="row")= sum(index, 1)
            td= course.name
            td= course.level
            td= course.deletedAt
            td
              a.btn.btn-link.btn-restore(data-id=course._id) Khôi phục
              a.btn.btn-link(data-toggle="modal", data-id=course._id, data-target="#delete-course-modal") Xóa vĩnh viễn
        else
          tr
            td(colspan="5", class="text-center")
              | Thùng rác trống.
              a(href="/me/stored/courses") Danh sách khóa học

  // Confirm delete course
  #delete-course-modal.modal(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Xóa khóa học?
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Hủy
          button#btn-delete-course.btn.btn-danger(type="button") Xóa vĩnh viễn

  form(name="delete-course-form", method="POST")
  form(name="restore-course-form", method="POST")

script.
  document.addEventListener('DOMContentLoaded', function() {
      var courseId;
      var deleteForm = document.forms['delete-course-form'];
      var restoreForm = document.forms['restore-course-form'];
      var btnDeleteCourse = document.getElementById('btn-delete-course');
      var restoreBtn = $('.btn-restore');

      // When dialog confirm clicked
      $('#delete-course-modal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          courseId = button.data('id');
      });
      
      // When delete course btn clicked
      btnDeleteCourse.onclick = function () {
          deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
          deleteForm.submit();
      }

      // Restore btn clicked
      restoreBtn.click(function (e) {
        e.preventDefault();
        
        var courseId = $(this).data('id');
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        restoreForm.submit();
      });
  });
